**you are given a list of intergers write a python program to perform following operations sequentially**

append 100 at end

insert 50 at 3

remove first 20

count 10 appearances

reverse

sort

find max and min element

calculate sum

In [ ]:
list=[10,10,10,20,20,30]
list.append(100)
print("append list: ",list)
list.insert(2,50)
print("after insertion: ",list)
list.remove(20)
print("after removal first occurence of 20: ", list)
print("count of 10: ",list.count(10))
list.reverse()
print("reversed list: ",list)
list.sort()
print("sorted list: ",list)
print("max element: ",max(list))
print("min element : ",min(list))
print("sum of all numbers: ",sum(list))

append list:  [10, 10, 10, 20, 20, 30, 100]
after insertion:  [10, 10, 50, 10, 20, 20, 30, 100]
after removal first occurence of 20:  [10, 10, 50, 10, 20, 30, 100]
count of 10:  3
reversed list:  [100, 30, 20, 10, 50, 10, 10]
sorted list:  [10, 10, 10, 20, 30, 50, 100]
max element:  100
min element :  10
sum of all numbers:  230

Day 6 -> list - live work
      -> tuples - homework


Write a python function that takes a list of integers and returns a new list with all the even numbers doubled