**DSA Problems**

1. Given a tuple of numbers and a target element , find and orint all indexes where the target where the target element occurs in the tuple.

In [ ]:
new_tuple = (1,2,3,4,5,1,2,3)
target = 1

indexes = []

for i in range(len(new_tuple)):
  if new_tuple[i] == target:
    indexes.append(i)

print(indexes)

[0, 5]

2. Flatten a tuple of tuples

In [ ]:
nested_tuple = ((1,2),(3,4),(5,6))

flatten_list = []

for i in nested_tuple:
  for ele in i:
    flatten_list.append(ele)

print(tuple(flatten_list))

(1, 2, 3, 4, 5, 6)

3. Swap First and Last Elements

In [ ]:
ele_tuple = (1,2,3,4,5)

# ele_tuple[start, stop] ==> syntax
ele_tuple = ele_tuple[-1:] + ele_tuple[1:-1] + ele_tuple[:1]

print(ele_tuple)

(5, 2, 3, 4, 1)